
body {
  margin: 20px;
  background-color: #FFF;
}

article {
  margin: 10px;
}
p {
	margin: 10px;
}
li {
	padding: 5px;
}
nav {
	margin: auto;
	display: block;
}
.fig {
  display: block;
  text-align: center;
}
.fig img {
  border-radius:2%;
  width: 45%;
}
main,article, footer,header {
  display: block;
}
h1 {
  font-family: "Helvetica Neue";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 7px;
  text-shadow: 0.5px 1px 1px #292828;
}
h2 {
  font-family: "Helvetica Neue";
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15.4px;
  text-shadow: 0.5px 1px 1px #292828;
}
p {
  font-family: "Helvetica Neue";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24.2857px;
}
a {
  font-family: "Helvetica Neue";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24.2857px;
}
a:link {
  text-decoration: none;
  color: #497DDD;  
}
a:visited {
  color: #EF7D55;
}
a:hover {
  color: #154088; 
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
}
th {
  background-color: #68BCFF;
  align-content: center;  
}
td {
  align-self: center;
}
tfoot td {
  background-color: #0c9;
}
table {
 border-style: dotted;
  width: 50%;
}
th,td {
  border-style: solid;
  text-align: center;
}
iframe {
  border: 0;
}