
th {
	background-color: #68BCFF;
	align-content: center; 	
}
td {
	align-self: center;
}
tfoot td {
	background-color: #1EFF74;
}
.center{
	margin:0 auto;
	width:200px;
	height:200px;
}
header  li {
	list-style-type: none;
}

.thumb   {
    padding: 15px; /* Расстояние от картинки до рамки */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    text-align: center;
    
   }
