.example-1:before {
	content: "Text before";
	color: red;
}
.example-1:after {
	content: "Text after";
}

.example-2:before {
	content: "Text before";
	color: red;
}
.example-2:after {
	content: "Text after";
	color: blue;
	/* Пример 3*/ё
	 
}